
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  body {
    background-color: bisque;
  }
  
  .slide1 {
    padding-top: 5px;
    background-color: black;
    color: white;
    text-align: center;
  }
  .slide2 {
    padding-top: 5px;
    background-color: lightgrey;
    text-align: center;
  }

  ul {
    list-style: none; 
    text-align: center;
}

ul li {
    position: relative;
    display: inline-block; 
    background: blanchedalmond;
    padding: 20px 20px; 
    margin: 20px 20px;
    border-radius: 5px;
}

a {
    text-decoration: none; 
    color: black;
    font-weight: bold;

}

p {
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px 20px;
}
h1 {
    text-align: center;
}
footer {
  background-color: black;
}
.image {
  display: flex;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
  padding-left: 6%;
  }

.wrap {
  text-align: center;
}

@media (max-width: 950px) {
  * {
    flex-direction: column ;
  }
  .image {
    padding-left: 16%;
  }
  }

  @media (max-width: 450px) {
    * {
      flex-direction: column ;
    }
    .image {
      padding-left: 7%;
    }
    }
